{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Vidhisha Singh</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Vidhisha Singh. Currently pursuing B.Tech in Computer Science and Engineering. My main focus is on web development, AI, and machine learning.</p>
            </center>
            <div>
                <h5>Contact Information :</h5><br>
                <a target="_blank" href='mailto:vidhishasingh0312@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" height="40" width="40"></a> :
                vidhishasingh0312@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/vidhishasingh'><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                vidhishasingh<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anjali Singh</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anjali Singh. Currently pursuing B.Tech in Computer Science and Engineering. I specialize in backend development, data structures, and algorithms.</p>
            </center>
            <div>
                <h5>Contact Information :</h5><br>
                <a target="_blank" href='mailto:singhanjali2260@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" height="40" width="40"></a> :
                anjalisingh0312@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/anjali-singh-76039a230'><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                anjalisingh<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anjana Kumari singh</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anjana Kumari. Currently pursuing B.Tech in Computer Science and Engineering. I focus on front-end development and design, with an interest in artificial intelligence and data analysis.</p>
            </center>
            <div>
                <h5>Contact Information :</h5><br>
                <a target="_blank" href='mailto:anjanacse2025@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" height="40" width="40"></a> :
                singhanjana259@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/anjanacse2025'><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                anjanacse2025<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
